
h2 {
	text-align:center;
	font-family: Arial, sans-serif;
  color: #008000;
  font-size: 200%;
  text-shadow: 2px 2px 4px black;

}

body main{
  background-image:url("images/WALLPAPER.jpg");
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    background-color: #FFFAF2;
    
}

.header-text {
  margin-right:75%;
  color:#A8DB73;
  font-size: 200%;
  text-shadow: 2px 2px 4px #A8DB73; 
  white-space: nowrap;
}

.subtext {
  font-size: 50%;
  color: #FACB07;
  text-shadow: 2px 2px 4px #FACB07; 
}


body{
background-color: #FFFAF2;
font-family: Arial, sans-serif;
margin:0;
}


nav {
  display: flex;
  justify-content: center;
}

nav ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A8DB73;
}


nav li {
	
  float: left;
}


nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 127.41px;
  text-decoration: none;
 
}

nav li a:hover {
  background-color:#54B337;
}


ul.breadcrumb {
    padding: 3px 30px;
    margin: 0;
    list-style: none;
    background-color:#FFFAF2 ;
    display: flex;
  }
  
  ul.breadcrumb li {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-right: 5px; /* Adjust the second one */
  }
  
  ul.breadcrumb li+li:before {
    padding: 0 0px; /* Adjust the padding value as per your preference */
    color: black;
    content: ">\00a0";
  }
  
  ul.breadcrumb li:first-child a {
    padding-left: 0;
  }
  
  ul.breadcrumb li a {
    color: orange;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: orange;
    text-decoration: underline;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A8DB73;
  color: white;
  text-align: center;
  padding: 15px;
}

footer p {
  margin: 5px;
}

a {
  color:#212121;
}

.tutors-container {
    overflow-x: scroll;
    white-space: nowrap;
	background-color:#9D8189;
	width: 1100px;
	margin:auto;
  }

  .tutor1 {
	color: #212121;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #D8E2DC;
  }
  
  .tutor2 {
	  color:#212121;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #FFE5D9;
  }
  
  .tutor3 {
	  color: #212121;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #FFCAD4;
  }
  
  .tutor4 {
	  color: #212121;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #D8E2DC;
  }
  
  .tutor5 {
	  color: #212121;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: #FFE5D9;
  }


  div.students {
  color: #212121;
  margin: auto;
  background-color: #F4ACB7;
  height: 100px;
  width: 1100px;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  background-color:#9D8189;
  width:1100px;
  height:300px;
  overflow-x: auto;
  margin:auto;
}

.flex-container > div {
	color:#212121;
  background-color: #f1f1f1;
  margin: 10px;
  width: 500px;
  padding: 20px;
  font-size: 15px;
   overflow-y: scroll;
   
}

div.a{
	color:#212121;
	background-color:#D8E2DC;
	width: 250px;
	flex-shrink:0;
	
}
div.a pre{
	color: #212121;
	font-family: Arial, sans-serif;

}

div.b{
	color: #212121;
	background-color:#FFE5D9;
	width: 250px;
	flex-shrink:0;
	
}
div.b pre{
	color: #212121;
	font-family: Arial, sans-serif;
	}

div.c{
	color: #212121;
	background-color: #FFCAD4;
	width: 250px;
	flex-shrink:0;
	
}
div.c pre{
	color: #212121;
	font-family: Arial, sans-serif;
	
}

div.d{
	color: #212121;
	background-color:#D8E2DC;
	width: 250px;
	flex-shrink:0;
	
}
div.d pre{
	color: #212121;
	font-family: Arial, sans-serif;
	}

div.e{
	color:#212121;
	background-color:#FFE5D9;
	width: 250px;
	flex-shrink:0;
	
}

div.e pre{
	color: #212121;
	font-family: Arial, sans-serif;
	}


#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}

