
h2 {
	text-align:center;
	font-family: Arial, sans-serif;
  color: var(--3-color);
  font-size: 200%;
  text-shadow: 2px 2px 4px var(--12-color);

}

body main{
  background-image: var(--lightimage);
}

header {
    background-color: var(--11-color);
    
}

.header-text {
  
  color: var(--14-color);
  
  text-shadow: 2px 2px 4px var(--14-color); 
  
}

.subtext {
 
  color: var(--15-color);
  text-shadow: 2px 2px 4px var(--15-color); 
}


body{
background-color: var(--11-color);
text-align: center;
}



nav ul {

  background-color: var(--9-color);
}



nav li a {
  
  color: var(--1-color);
 
 
}

nav li a:hover {
  background-color: var(--13-color);
}


ul.breadcrumb {
    
    background-color: var(--11-color) ;
    
  }
  
 
  
  ul.breadcrumb li+li:before {
    color: var(--12-color);
  }
  
 
  ul.breadcrumb li a {
    color: var(--10-color);
  }
  
  ul.breadcrumb li a:hover {
    color: var(--10-color);
}


footer {
  
  background-color: var(--9-color);
  color: var(--1-color);
  
}


a {
  color:var(--2-color);
}

.tutors-container {
    overflow-x: scroll;
    white-space: nowrap;
	background-color:var(--8-color);
	width: 1100px;
	margin:auto;
  }

  .tutor1 {
	color: var(--2-color);
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: var(--4-color);
  }
  
  .tutor2 {
	  color: var(--2-color);
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: var(--5-color);
  }
  
  .tutor3 {
	  color: var(--2-color);
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: var(--6-color);
  }
  
  .tutor4 {
	  color: var(--2-color);
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: var(--4-color);
  }
  
  .tutor5 {
	  color: var(--2-color);
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
    background-color: var(--5-color);
  }


  div.students {
  color: var(--2-color);
  margin: auto;
  background-color: var(--7-color);
  height: 100px;
  width: 1100px;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  background-color: var(--8-color);
  width:1100px;
  height:300px;
  overflow-x: auto;
  margin:auto;
}

.flex-container > div {
	color: var(--2-color);
  background-color: #f1f1f1;
  margin: 10px;
  width: 500px;
  padding: 20px;
  font-size: 15px;
   overflow-y: scroll;
   
}

div.a{
	color: var(--2-color);
	background-color:var(--4-color);
	width: 250px;
	flex-shrink:0;
	
}
div.a pre{
	color: var(--2-color);
	font-family: Arial, sans-serif;

}

div.b{
	color: var(--2-color);
	background-color:var(--5-color);
	width: 250px;
	flex-shrink:0;
	
}
div.b pre{
	color: var(--2-color);
	font-family: Arial, sans-serif;
	}

div.c{
	color: var(--2-color);
	background-color: var(--6-color);
	width: 250px;
	flex-shrink:0;
	
}
div.c pre{
	color: var(--2-color);
	font-family: Arial, sans-serif;
	
}

div.d{
	color: var(--2-color);
	background-color:var(--4-color);
	width: 250px;
	flex-shrink:0;
	
}
div.d pre{
	color: var(--2-color);
	font-family: Arial, sans-serif;
	}

div.e{
	color: var(--2-color);
	background-color:var(--5-color);
	width: 250px;
	flex-shrink:0;
	
}

div.e pre{
	color: var(--2-color);
	font-family: Arial, sans-serif;
	}



#icon{
	width:30px;
	height:30px;
	cursor:pointer;
}

#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}



:root{
	--1-color: white;
	--2-color:#212121;
	--3-color:#008000;
	--4-color:#D8E2DC;
	--5-color:#FFE5D9;
	--6-color:#FFCAD4;
	--7-color:#F4ACB7;
	--8-color:#9D8189;
	--9-color:#A8DB73;
	--10-color:orange;
	--11-color:#FFFAF2;
	--12-color:black;
	--13-color:#54B337;
	--14-color:#A8DB73;
	--15-color:#FACB07;
	--lightimage:url("images/WALLPAPER.jpg");
	

}

.dark-theme{
	
	--1-color: black;
	--2-color:#dedede;
	--3-color:#ff7fff;
	--4-color:#271d23;
	--5-color:#001a26;
	--6-color:#00352b;
	--7-color:#0b5348;
	--8-color: #627e76;
	--9-color:#57248c;
	--10-color:#005aff;
	--11-color:#000916;
	--12-color:white;
	--13-color:#ab4cc8;
	--14-color:#57248c;
	--15-color:#0534f8;
    --lightimage:url("images/WALLPAPERblack.png");
	
	

}
