header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 10px; 
  
}

.header-text {
margin-right: 75%; 
font-size: 200%;
white-space: nowrap;
}

.subtext {
font-size: 50%;
}

body{
  
  font-family: Arial,sans-serif;
  text-align: center;
  margin:0;
  }


  @media screen and (max-width:600px) {
    nav ul{
      flex-direction: column;
    }
    nav li{
      width:100%;
    }
  
    .header-text{
      font-size: 4vw;
    }
  
    .subtext{
      font-size: 3vw;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
  
  
  nav ul {
    display: flex; 
    flex-wrap: wrap; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  
  nav li {
    flex: 1;
  }
  
    nav li a {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      
      text-align: center;
      text-decoration: none;
      padding: 14px;
    }
  

  ul.breadcrumb {
    padding: 3px 30px;
    margin: 0;
    list-style: none;
    
    display: flex;
  }
  
  ul.breadcrumb li {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 0 0px; 
    
    content: ">\00a0";
  }
  
  ul.breadcrumb li:first-child a {
    padding-left: 0;
  }
  
  ul.breadcrumb li a {
    
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
   
    text-decoration: underline;
  }
  
  footer {
   
    text-align: center;
    font-size: 100%;
    padding: 15px;
    margin: 0;
    
    }