header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    background-color: #FFFAF2;
    
}

.header-text {
  margin-right:75%;
  color: #A8DB73;
  font-size: 200%;
  text-shadow: 2px 2px 4px #A8DB73; 
  white-space: nowrap;
}

.subtext {
  font-size: 50%;
  color: #FACB07;
  text-shadow: 2px 2px 4px #FACB07; 
}


body{
background-color: #FFFAF2;
font-family: Arial, sans-serif;
margin:0;
}


nav {
  display: flex;
  justify-content: center;
}

nav ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A8DB73;
}


nav li {
	
  float: left;
}


nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 127.41px;
  text-decoration: none;
 
}

nav li a:hover {
  background-color: #54B337;
}


ul.breadcrumb {
    padding: 3px 30px;
    margin: 0;
    list-style: none;
    background-color: #FFFAF2 ;
    display: flex;
  }
  
  ul.breadcrumb li {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-right: 5px; /* Adjust the second one */
  }
  
  ul.breadcrumb li+li:before {
    padding: 0 0px; /* Adjust the padding value as per your preference */
    color: black;
    content: ">\00a0";
  }
  
  ul.breadcrumb li:first-child a {
    padding-left: 0;
  }
  
  ul.breadcrumb li a {
    color: orange;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: orange;
    text-decoration: underline;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A8DB73;
  color: white;
  text-align: center;
  padding: 15px;
}

footer p {
  margin: 5px;
}