header {
  
  background-color: var(--1-color);
  
}

.header-text {

color: var(--2-color);

text-shadow: 2px 2px 4px var(--2-color); 

}

.subtext {
color: var(--3-color);
text-shadow: 2px 2px 4px var(--3-color); 
}



nav ul {
background-color: var(--2-color);
}


nav li a {
color: var(--4-color);
}

nav li a:hover {
background-color: var(--5-color);
}


ul.breadcrumb {

  background-color: var(--1-color) ;

}



ul.breadcrumb li+li:before {
  color: var(--6-color);

}


ul.breadcrumb li a {
  color: var(--7-color);
}

ul.breadcrumb li a:hover {
  color: var(--7-color);
}


footer {
background-color: var(--2-color);
color: var(--4-color);
}




body {
background-color: var(--1-color);
	text-align: center;
}

.cell {
  position: relative;
}

.green-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--8-color);
  color: var(--4-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: var(--9-color);
  font-size: 200%;
  text-shadow: 2px 2px 4px  var(--6-color);
}

table {
  width: 70%;
  border-collapse: collapse;
  margin-left: 15%;
}

td {
  padding: 20px;
  text-align: center;
  border: 1px solid var(--10-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}


h2 {
  margin-top: 10px;
}

p {
  margin-top: 5px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 16px;
}



.course-cell:hover .course-description {
  display: block;
}

.course-description {
  display: none;
  background-color: var(--11-color);
  padding: 10px;
  border: 1px solid var(--10-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.course-description p {
  margin: 5px 0;
  color:var(--6-color);
}

h2{
	color:var(--6-color);
}

:root{
	--1-color: #FFFAF2;
	--2-color:#A8DB73;
	--3-color:#FACB07;
	--4-color:white;
	--5-color:#54B337;
	--6-color:black;
	--7-color:orange;
	--8-color:green;
	--9-color:#008000;
	--10-color:#dddddd;
	--11-color:#ffffff;
}

.dark-theme{
	--1-color: #000916;
	--2-color:#57248c;
	--3-color:#0534f8;
	--4-color:black;
	--5-color:#ab4cc8;
	--6-color:white;
	--7-color:#005aff;
	--8-color: #ff7fff;
	--9-color:#ff7fff;
	--10-color:#222222;
	--11-color:#000000;
}
