header {
  background-color: var(--8-color);
}

.header-text {

color: var(--11-color);
text-shadow: 2px 2px 4px var(--11-color); 

}

.subtext {
color: var(--12-color);
text-shadow: 2px 2px 4px var(--12-color);
}

body{
  background-color: var(--8-color);
  text-align: center;
  }


  @media screen and (max-width:600px) {
    nav ul{
      flex-direction: column;
    }
    nav li{
      width:100%;
    }
  
    .header-text{
      font-size: 4vw;
    }
  
    .subtext{
      font-size: 3vw;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
  
  
  nav ul {
    background-color: var(--11-color);
  }
  
  
    nav li a {
      color: var(--1-color);
    }
    
  nav li a:hover {
    background-color: var(--10-color);
  }


  ul.breadcrumb {
    background-color: var(--8-color) ;
    
  }
  
  
  ul.breadcrumb li+li:before {
    color: var(--9-color);
  }
  
  
  ul.breadcrumb li a {
    color: var(--7-color);
  }
  
  ul.breadcrumb li a:hover {
    color: var(--7-color);
  }
  
  footer {
    background-color: var(--11-color);
    color: var(--1-color);
    }

#icon{
cursor:pointer;
float:right;
width: 30px;
height: 30px;
padding-right: 10px;
padding-top: 10px;
}

@media screen and (max-width:600px) {
nav ul{
  flex-direction: column;
}
nav li{
  width:100%;
}

.header-text{
  font-size: 4vw;
}

.subtext{
  font-size: 3vw;
}
img {
  width: 100px;
  height: 100px;
}
.course-grid{
flex-direction: column;
width:100%;
}
}



#vision{
background-color: var(--6-color);
color: var(--9-color);
text-align: center;
font-size: 18px;
padding: 15px;
margin: 0;  
}

.reviews-container {
display: flex;
justify-content: space-between; 
background-color: var(--6-color);
}

@media screen and (max-width: 900px){
.reviews-container{
flex-direction: column;
padding: 40px;


#left{
  margin-left: 0%;
  margin-right: 2px; 
}

#right{
  margin-right: 0%;
  margin-left: 2px;
}

}

}

@media screen and (max-width: 400px){
.reviews-container{
  flex-direction: column;
  padding: 40px;

  .review img{
    width: 70px;
    height: 70px;
  }  
  .review h3{
    font-size: 12px;
  }
  .review p{
  font-size: 10px;
  }
  .date{
    font-size: 1%;
  }
  
}  

  #left{
    margin-left: 0%;
    margin-right: 2px; 
    flex-wrap: wrap;
}

#right{
    margin-right: 0%;
    margin-left: 2px;
    flex-wrap: wrap;
}



}




.review {
flex-basis: calc(33.33% - 20px);
background-color: var(--1-color);
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 20px;
padding-bottom: 40px;
margin-bottom: 50px;
}

/* added left-right */
#left{
  margin-left: 10%;
  margin-right: 2px;
 
}
#right{
  margin-right: 10%;
  margin-left: 2px;
}
/* */

.left {
margin-right: 10px;
}


.review img {
width: 100px;
height: 100px;
border-radius: 50%;
margin-bottom: 10px;
}

.review h3 {
color: var(--2-color);
font-size: 18px;
margin-bottom: 10px;
}

.review p {
color: var(--4-color);
font-size: 14px;
line-height: 1.5;
}	

.course-grid {
background-color: var(--8-color);
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around ;
 
}

.course-color{
  color:var(--9-color);
  
}
.course {
  flex-basis: calc(20% - 10px); 
  background-color: var(--1-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;

}  
.course-label {
color: var(--2-color);
font-size: 18px;
margin-bottom: 10px;
text-align: center;
}
.course-description {
color: var(--4\-color);
font-size: 14px;
line-height: 1.5;
text-align: center;
}

.checked {
color: var(--7-color);
}

.date{
color:var(--5-color);
font-size:2% ;}




.like::before {
content: url(images/like.png);
margin-right: 10px;

}

.dislike::before {
content: url(images/dislike.png);
margin-right: 6px;
}

.img{

display: flex;
align-items: center;
justify-content: space-between;}

h3.course-color{
padding: 10px;
background-color: var(--8-color);
margin: 0;
}


h3.review-color{
color:var(--9-color);
padding: 10px;
background-color: var(--6-color);
margin: 0;

}



.imgcourse{
text-align: center;
}

.imgbox{
text-align: left;
float: left;
height: 95%;
padding-top: 30px;
padding-right: 8%;
padding-left: 2%;

}


h2 {
text-align:center;
font-family: Arial, sans-serif;
color: var(--3-color);
font-size: 200%;
text-shadow: 2px 2px 4px var(--9-color);

}

:root{
--1-color: #ffffff;
--2-color:#333333;
--3-color:#008000;
--4-color:#666666;
--5-color: GrayText;
--6-color:#FFF3C2;
--7-color:orange;
--8-color:#FFFAF2;
--9-color:black;
--10-color:#54B337;
--11-color:#A8DB73;
--12-color:#FACB07;



}

.dark-theme{

--1-color: black;
--2-color:#cccccc;
--3-color:#ff7fff;
--4-color:#999999;
--5-color:#7f7f7f;
--6-color:#000c3d;
--7-color:#005aff;
--8-color:#000916;
--9-color:white;
--10-color:#ab4cc8;
--11-color:#57248c;
--12-color:#0534f8;
  



}
