header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
    background-color: var(--11-color);
    
}

.header-text {
  margin-right:75%;
  color: var(--nonary-color);
  font-size: 200%;
  text-shadow: 2px 2px 4px var(--nonary-color); 
  white-space: nowrap;
}

.subtext {
  font-size: 50%;
  color: var(--15-color);
  text-shadow: 2px 2px 4px var(--15-color); 
}


body{
background-color: var(--11-color);
font-family: Arial, sans-serif;
margin:0;
}

form{
	background-color: var(--16-color);
}


nav {
  display: flex;
  justify-content: center;
}

nav ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nonary-color);
}


nav li {
	
  float: left;
}


nav li a {
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 127.41px;
  text-decoration: none;
 
}

nav li a:hover {
  background-color: var(--13-color);
}


ul.breadcrumb {
    padding: 3px 30px;
    margin: 0;
    list-style: none;
    background-color: var(--11-color) ;
    display: flex;
  }
  
  ul.breadcrumb li {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-right: 5px; /* Adjust the second one */
  }
  
  ul.breadcrumb li+li:before {
    padding: 0 0px; /* Adjust the padding value as per your preference */
    color: var(--12-color);
    content: ">\00a0";
  }
  
  ul.breadcrumb li:first-child a {
    padding-left: 0;
  }
  
  ul.breadcrumb li a {
    color: var(--denary-color);
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: var(--denary-color);
    text-decoration: underline;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nonary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 15px;
}

footer p {
  margin: 5px;
}



.section-title {
  padding: 3px 30px;
  text-align: center;
  font-style: italic;
}

.students-container {
    overflow-x: scroll;
    white-space: nowrap;
    background-color: var(--12-color); /* Set the background color of the scroll bar area */
    margin-left: 10px;
  }
  
  .student {
    display: inline-block;
	color: var(--12-color);
    width: 300px;
    padding: 20px;
    margin: 10px;
    margin-left: 10px;
    margin-right:10px ;
    text-align: center;
    background-color: var(--secondary-color);
  }
  
  .student img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .student h3 {
    margin: 0;
  }
  
  .student p {
    font-style: italic;
    margin-top: 10px ;
  }


  /* Apply styles to the container div */
.container {
    display: flex;
  }
  
  /* Apply styles to the div elements with class "styled-div" */
  .styled-div {
    background-color: var(--secondary-color);
    border: 2px solid var(--12-color);
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
  }
  
  /* Apply styles to the img elements with class "styled-img" */
  .styled-img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: cover;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
    border-radius: 50%;  
  }
  
  /* Apply styles to the h3 elements with class "styled-h3" */
  .styled-h3 {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Apply styles to the a elements with class "styled-a" */
  .styled-a {
    color: var(--12-color);
    text-decoration: none;
  }
  
h2 {
	text-align:center;
	font-family: Arial, sans-serif;
  color: var(--tertiary-color);
  font-size: 200%;
  text-shadow: 2px 2px 4px black;

}