
header {
  
    background-color: var(--9-color);
    
}

.header-text {
  color: var(--10-color);
  text-shadow: 2px 2px 4px var(--10-color); 
  
}

.subtext {
  color: var(--11-color);
  text-shadow: 2px 2px 4px var(--11-color); 
}


body{
background-color: var(--9-color);
text-align: center;
}



nav ul {

  background-color: var(--10-color);
}



nav li a {
  color: var(--1-color);
 
}

nav li a:hover {
  background-color: var(--12-color);
}


ul.breadcrumb {
    
    background-color: var(--9-color) ;
  }
  
  
  ul.breadcrumb li+li:before {
    color: var(--3-color);
  }
  
  
  ul.breadcrumb li a {
    color: var(--13-color);
  }
  
  ul.breadcrumb li a:hover {
    color: var(--13-color);
}


footer {
  background-color: var(--10-color);
  color: var(--1-color);
}


h2 {
	text-align:center;
}


table, th,td {
	font-family: Arial;
	border : 1px solid var(--3-color) ;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}




caption{

  color: var(--2-color);
  font-size: 200%;
  text-shadow: 2px 2px 4px var(--3-color);
	 
}


thead th{
border: 1px solid var(--3-color);
background-color: var(--3-color);
color:var(--1-color);
padding:10px;
}

tbody td{
	background-color: var(--1-color);
	padding:10px;
		border: 1px solid var(--3-color);


}

th,td{
	color:var(--3-color);
}

body main{
  background-image:var(--lightimage);
}

table{ background-color:var(--4-color);}

.time{  background-color:var(--4-color);
	
}

.blank{ background-color: var(--5-color);}

.scratch{
	background-color:var(--6-color);
}

.robo{
	background-color: var(--7-color);
	
}

.python{
	background-color: var(--8-color);
}



:root{
	--1-color: white;
	--2-color:#008000;
	--3-color:black;
	--4-color:#FFFDF3;
	--5-color:#A4A4A4;
	--6-color:#FF6666;
	--7-color:#7A9AFF;
	--8-color:#FFD073;
	--9-color:#FFFAF2;
	--10-color:#A8DB73;
	--11-color:#FACB07;
	--12-color:#54B337;
	--13-color:orange;
	--lightimage:url("images/WALLPAPER.jpg");
	

}

.dark-theme{
	
	--1-color: black;
	--2-color:#ff7fff;
	--3-color:white;
	--4-color:#00020c;
	--5-color:#5b5b5b;
	--6-color:#009999;
	--7-color:#856500;
	--8-color: #002f8c;
	--9-color:#000916;
	--10-color:#57248c;
	--11-color:#0534f8;
	--12-color:#ab4cc8;
	--13-color:#005aff;
    --lightimage:url("images/WALLPAPERblack.png");
	
	

}

